@function img($url) {
    $path: "../img/";
    @return url(#{$path+$url});
}

%back-gradient{
    background: linear-gradient(to bottom right,
        #CB48F9,
        #F91762
    );
}
%back-gradient__op{
    background: linear-gradient(to bottom right,
    rgba(#F91762,.8),
    rgba(#CB48F9,.8)
    );
}
%section{
    @extend %back-gradient__op;
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
%section-titles{
    font-size: 3rem;
    font-family: var(--subtitle-font), var(--second-font);
    font-weight: 400;
}