@function img($url) {
    $path: "../img/";
    @return url(#{$path+$url});
}

%back-gradient{
    background: linear-gradient(to bottom right,
        #CB48F9,
        #F91762
    );
}
%back-gradient__op{
    background: linear-gradient(to bottom right,
    rgba(#F91762,.8),
    rgba(#CB48F9,.8)
    );
}